/***************************/
/* Creating message form */

.application-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.form {
    font-size: 1.8rem;
    padding: 0.9em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.8em 0.1em rgba(0, 0, 0, 0.205);
    background-color: white;
}


.form label, 
.form button {
    font-family: "Roboto Condensed", sans-serif;
}

.input-form {
    border: none;
    padding: 0.6rem 0.6rem;
    border-radius: 0.3em;
    margin-left: 0.7rem;  
    background-color: #ececec;
    outline: none;
 }

.receiver-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

#receiver-input-photo {
    display: none;
}

.layer-photo {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    transition: background-color 200ms ease-in-out;
}

.layer-photo:hover {
    background-color: rgba(0, 0, 0, 0.185);
    color:white;
}

.photo-input {
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    
}

.photo-input::before{
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 10;
}

.receiver-form-info {
    display: flex;
}

.status-group {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-end;
}


.receiver-form-info {
    gap: 1rem;
}


/* Message form */

.message-form {
    
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#source-time {
    display: flex;
    justify-content: space-between;
}



.input-form, 
.add-message-button {
    font-size: 0.9em;
}

 /* User color */

 .input-form.self,
 .msg-text-input.self {
    background-color: #cce7cc;
 }

 .input-form.receiver,
 .msg-text-input.receiver {
     background-color: #d3f1ff;
 }

 .message-form button.self {
    background-color: #90d49f;
 }

 .message-form button.receiver {
    background-color: #9fdafb;
 }

 .message-form a.receiver {
    color: #00649e;
 }

 .message-form a.self {
    color: #338a3e;
 }

 .message-form .material-icons.self {
    background-color: #338a3e;
 }

 /* End of user color */
 

.msg-text-input {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    margin-top: 0.2em;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em;
    margin-bottom: 0.4em;
    outline: none;
}

.add-message-button{
    background: none;
    border: none;
    border-radius: 0.3em;
    
    padding: 0.5em;
}

a.more-options {
    
    margin-top: 1.5em;
    font-size: 0.8em;
    text-decoration: none;
    align-self: flex-end;
}

.more-options .material-icons {
    color: white;
    background-color: rgb(66, 143, 194);
    border-radius: 1em;
    padding: 0.15em;
}

.message-form .form-group:nth-child(2) {
    /* textarea group */
    
    display: flex;
    flex-direction: column;
}

/*  End of message form     /*
/****************************/