/* Initial configuration */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #008069;
    --screen-height: 97vh;
    --screen-width: calc(var(--screen-height) * 0.46);
    

    /* --screen-width: 720px;
    --screen-height: 1280px; */
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Sizes, layout and colors*/

body {
    background-color: rgb(189, 189, 189);
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: 950px;
    margin: 0 auto;
    padding: 1rem;
    flex-wrap: wrap;
}



.screen-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #ece5dd;
    font-size: calc(var(--screen-width) * 0.041);
}

.notification-bar {
    color: white;
    width: 100%;
    height: 4.1%;
    background-color: var(--primary-color, black);
}

.application-header {
    width: 100%;
    height: 6.62%;
    padding-left: 1%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;  
    justify-content: space-between; 
}


.notification-bar,
.application-header,
.bottom-app-section {
    flex-shrink: 0;
}

.chat-section {
    flex-grow: 1;
}

.bottom-app-section {

    height: 5.38%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    padding: 0 0.9%;
    
}

.message-bar {
    background-color: white;
    height: 100%;
    border-radius: 10rem;

}

.message-input {
    /* line-height: 100%; */
    padding-top: 3%;
    margin: 0;
    overflow-y: auto;
}

.record-audio-button {
    height: 100%;
    width: calc(var(--screen-height) * 0.0538);
    flex-shrink: 0;
    margin-left: 1.4%;
    border-radius: 50%;
    border: none;
    background-color: #008069;
}

.navigation-bar {
    width: 100%;
    height: 1.6%;
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    width: 20%;
    height: 10%;
    background-color: #636364be;
    border-radius: 1rem;
    
}



/* ------------------------ */
/* Styles, icons and more */

.notification-bar {
 font-weight: bold;
 font-size: 1.05em;
 /* padding: 1.9% 5.83%; */
 padding: 0 5.83%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.notification-icon {
    font-size: 0.9em;
    margin-right: 0.13em;
}

.notification-icon:last-child {
    margin-right: 0;
}

.notification-icon-group {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Application header */

.application-header {
    padding: 0 2.2% 0 1.1%;
}

.back-button {
    height: 45%;
}

.receiver-photo-profile {
    height: 63.22%;
    width: auto;
    background-color: #aaa;
    border-radius: 50%;
    margin-left: 0rem;
    margin-right: 2%;
}

.receiver-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.receiver-name {
    color: white;
    font-size: 1.14em;
    font-weight: 600;
    line-height: normal;
    
}

.receiver-status {
    margin-top: -0.7%;
    color: white;
    font-size: 0.95em;
}

/***************************/
/* Creating message form */

.application-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.form {
    font-size: 1.8rem;
    padding: 0.9em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.8em 0.1em rgba(0, 0, 0, 0.205);
    background-color: white;
}

.form label, 
.form button {
    font-family: "Roboto Condensed", sans-serif;
}

.receiver-form {
    /* Percentage of the notification bar and header added together */
    /* height: calc(var(--screen-height) * .1072); */
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.receiver-form .profile-picture {
    width: 5rem;
    height: 5rem;
    background-color: #cccccc;
    border-radius: 4rem;
}

.receiver-form-info {
    display: flex;
}

.status-group {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-end;
}


.receiver-form-info {
    gap: 1rem;
}


/* Message form */

.message-form {
    
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

 .source-select {
    border: none;
    padding: 0.2em 0.2em;
    border-radius: 0.3em;
    
 }

.source-select, 
.add-message-button {
    font-size: 0.9em;
}

 /* User color */

 .source-select.self,
 .msg-text-input.self {
    background-color: #cce7cc;
 }

 .source-select.receiver,
 .msg-text-input.receiver {
     background-color: #d3f1ff;
 }

 .message-form button.self {
    background-color: #90d49f;
 }

 .message-form button.receiver {
    background-color: #9fdafb;
 }

 .message-form a.receiver {
    color: #00649e;
 }

 .message-form a.self {
    color: #338a3e;
 }

 .message-form .material-icons.self {
    background-color: #338a3e;
 }

 /* End of user color */
 

.msg-text-input {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    margin-top: 0.2em;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em;
    margin-bottom: 0.4em;
    outline: none;
}

.add-message-button{
    background: none;
    border: none;
    border-radius: 0.3em;
    
    padding: 0.5em;
}

a.more-options {
    
    margin-top: 1.5em;
    font-size: 0.8em;
    text-decoration: none;
    align-self: flex-end;
}

.more-options .material-icons {
    color: white;
    background-color: rgb(66, 143, 194);
    border-radius: 1em;
    padding: 0.15em;
}

.message-form .form-group:nth-child(2) {
    /* textarea group */
    
    display: flex;
    flex-direction: column;
}

/*  End of message form     /*
/****************************/

.header-group {
    display: flex;
    align-items: center;
    position: relative;
}

.header-group:first-child {
    height: 100%;
    flex-direction: row;
    flex-grow: 1;
}

.header-group:last-child {
    height: 48%;
}

.icon-option {
    /* width: calc(var(--screen-width) * 0.069); */
    height: 100%;
    width: auto;
    margin: 0 calc(var(--screen-width) * 0.028);
}

.icon-option:last-child {
    margin: 0;
}

/* Chat Section */

.chat-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.date {
    font-size: 0.917em;
    font-weight: 500;
    color: #54656f;
    background-color: #f3f3f2de;
    border-bottom: 1px solid #b1b1b1 ;
    margin: 0.5em 0;
    padding: 1.6% 2.2%;
    border-radius: 0.4em;
}

.message {
    max-width: 83%;
    height: auto;
    margin: 0.07em 0;
    position: relative;
    border-radius: 1.2rem;
    padding: 1.3% 2% 1.3% 2%;
}

.message-text {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 2.1rem;
    font-weight: 400;
    display: inline;
    text-align: left; 
}

.data-time {
    
    color: #667781;
    font-size: 0.7em;
    float: right;
    margin-left: 0.3em;
    position: relative;
    right: -0.2em;
    bottom: -1em;
}

.controls {
    display: none;
    gap: 0.2em;
    position: absolute;
    top: 0;
    right: 0.4em;
    transform: translateY(-50%);
}

.message-control {

    color: white;

    width: 1.2em;
    height: 1.2em;
    background-color: rgb(170, 170, 170);
    border: none;
    border-radius: 4em;
    
}

.message-control.delete-control {
    background-color: #C62828;
}

.message-control.edit-control {
    background-color: #0277BD;
}

.message-control .material-icons {
    font-size: 1em;
}


.message-self + .message-receiver {
    /* Spacing between messages from diferent sources */
    margin-top: 0.5em;
}

.message-receiver + .message-self {
    margin-top: 0.5em;
}



.message.message-self {
    background-color: #e7ffdb;
    align-self: flex-end;
    margin-right: 1.1em;
}

.message.message-receiver {
    background-color: #fff;
    align-self: flex-start;
    margin-left: 1em;
    
}

/* General ::after */
.message-self + .message-receiver::after,
.message-receiver + .message-self::after,
.message-self + .date + .message-receiver::after,
.message-receiver + .date + .message-self::after,
.message:nth-child(2)::after { /* first message*/
    /* Triangle pointing to user side */
    content: "";
    border: 0.4em solid transparent;
    position: absolute;
}

/* Rect border for message-receiver */
.message-self + .message-receiver, /* first message-receiver after message-self*/
.message-self + .date + .message-receiver, /* first message-receiver when there is a .date between */
.message-receiver:nth-child(2) { /* first message */
    border-radius: 0 0.7em 0.7em 0.7em;
}

/* Rect border for message-self */
.message-receiver + .message-self, /* first message-self after message-self*/
.message-receiver + .date + .message-self, /* first message-self when there is a .date between */
.message-self:nth-child(2) { /* first message */
    border-radius: 0.7em 0 0.7em 0.7em;
}


.message-receiver + .message-self::after,
.message-receiver + .date + .message-self::after,
.message-self:nth-child(2)::after {
    border-left-color: #e7ffdb;
    right: 2px;
    top: 0px;
    transform: rotate(-135deg) translate(0, 70.5%);
}

.message-self + .message-receiver::after, 
.message-self + .date + .message-receiver::after,
.message-receiver:nth-child(2)::after {
    border-left-color: white;
    left: 0px;
    top: 0px;
    transform: rotate(-45deg) translate(0, -70.5%);
}


/* Bottom-section */

.message-bar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.6%;
    flex-grow: 1;
    border-bottom: 2px solid #bebebe;
}

.message-input {
    /* display: none; */
    font-size: 1.1em;
    font-family: inherit;
    flex-grow: 1;
    outline: none;
    
    resize: none;
    border: none;
}

.message-bar-icon {
    height: 60%;
    width: auto;
}


.message-bar-icon:first-child {
    margin-right: 3%;
}

.message-bar-icon:last-child {
    margin-left: 4%;
}

.message-bar-icon .icon {
    height: 100%;
}

.record-audio-button {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-audio-button .icon {
    height: 100%;
    width: auto;
}




