/* Initial configuration */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #008069;
    --screen-width: 1080px;
    --screen-height: 2340px;

    /* --screen-width: 720px;
    --screen-height: 1280px; */
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Sizes, layout and colors*/

body {
    background-color: rgb(189, 189, 189);
}

.screen-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: #ece5dd;
    font-size: calc(var(--screen-width) * 0.041);
}

.notification-bar {
    color: white;
    width: 100%;
    height: 4.1%;
    background-color: var(--primary-color, black);
}

.application-header {
    width: 100%;
    height: 6.62%;
    padding-left: 1%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;  
    justify-content: space-between; 
}


.notification-bar,
.application-header,
.bottom-app-section {
    flex-shrink: 0;
}

.chat-section {
    flex-grow: 1;
}

.bottom-app-section {

    height: 5.38%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    padding: 0 0.9%;
    
}

.message-bar {
    background-color: white;
    height: 100%;
    border-radius: 10rem;

}

.message-input {
    /* line-height: 100%; */
    padding-top: 3%;
    margin: 0;
    overflow-y: auto;
}

.record-audio-button {
    height: 100%;
    width: calc(var(--screen-height) * 0.0538);
    flex-shrink: 0;
    margin-left: 1.4%;
    border-radius: 50%;
    border: none;
    background-color: #008069;
}

.navigation-bar {
    width: 100%;
    height: 1.6%;
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    width: 20%;
    height: 10%;
    background-color: #636364be;
    border-radius: 1rem;
    
}



/* ------------------------ */
/* Styles, icons and more */

.notification-bar {
 font-weight: bold;
 font-size: 1.05em;
 /* padding: 1.9% 5.83%; */
 padding: 0 5.83%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.notification-icon {
    font-size: 0.9em;
    margin-right: 0.13em;
}

.notification-icon:last-child {
    margin-right: 0;
}

.notification-icon-group {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Application header */

.application-header {
    padding: 0 2.2% 0 1.1%;
}

.back-button {
    height: 45%;
}

.receiver-photo-profile {
    height: 63.22%;
    width: auto;
    background-color: #aaa;
    border-radius: 50%;
    margin-left: 0rem;
    margin-right: 2%;
}

.receiver-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.receiver-name {
    color: white;
    font-size: 1.14em;
    font-weight: 600;
    line-height: normal;
    
}

.receiver-status {
    margin-top: -0.7%;
    color: white;
    font-size: 0.95em;
}

.header-group {
    display: flex;
    align-items: center;
    position: relative;
}

.header-group:first-child {
    height: 100%;
    flex-direction: row;
    flex-grow: 1;
}

.header-group:last-child {
    height: 48%;
}

.icon-option {
    /* width: calc(var(--screen-width) * 0.069); */
    height: 100%;
    width: auto;
    margin: 0 calc(var(--screen-width) * 0.028);
}

.icon-option:last-child {
    margin: 0;
}

/* Chat Section */

.chat-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.date {
    font-size: 0.917em;
    font-weight: 500;
    color: #54656f;
    background-color: #f3f3f2de;
    border-bottom: 1px solid #b1b1b1 ;
    margin: 0.5em 0;
    padding: 1.6% 2.2%;
    border-radius: 0.4em;
}

.message {
    font-size: 1.11em;
    font-weight: 400;
    max-width: 83%;
    margin: 0.07em 0;
    padding: 2% 4% 2% 2%;
    text-align: left; 
    position: relative;
    border-radius: 0.6em;
}

.message-text {
    font-size: inherit;
    font-family: inherit;
    max-width: 100%;
    resize: none;
    background: none;
    border: 0;
    overflow: hidden;

}

.message-self + .message-receiver {
    /* Spacing between messages from diferent sources */
    margin-top: 0.5em;
}

.message-receiver + .message-self {
    margin-top: 0.5em;
}

.data-time {
    color: #667781;
    font-size: 0.7em;
    float: right;
    position: relative;
    bottom: -1em;
    right: -0.7em;
}

/* .message::before {
    content: attr(data-time);
    color: #667781;
    font-size: 0.7em;
    position: absolute;
    bottom: 0.2em;
    right: 0.8em;
} */

.message.message-self {
    background-color: #e7ffdb;
    align-self: flex-end;
    margin-right: 1.1em;
}

.message.message-receiver {
    background-color: #fff;
    align-self: flex-start;
    margin-left: 1em;
    
}

/* General ::after */
.message-self + .message-receiver::after,
.message-receiver + .message-self::after,
.message-self + .date + .message-receiver::after,
.message-receiver + .date + .message-self::after,
.message:nth-child(2)::after { /* first message*/
    /* Triangle pointing to user side */
    content: "";
    border: 0.4em solid transparent;
    position: absolute;
}

/* Rect border for message-receiver */
.message-self + .message-receiver, /* first message-receiver after message-self*/
.message-self + .date + .message-receiver, /* first message-receiver when there is a .date between */
.message-receiver:nth-child(2) { /* first message */
    border-radius: 0 0.7em 0.7em 0.7em;
}

/* Rect border for message-self */
.message-receiver + .message-self, /* first message-self after message-self*/
.message-receiver + .date + .message-self, /* first message-self when there is a .date between */
.message-self:nth-child(2) { /* first message */
    border-radius: 0.7em 0 0.7em 0.7em;
}


.message-receiver + .message-self::after,
.message-receiver + .date + .message-self::after,
.message-self:nth-child(2)::after {
    border-left-color: #e7ffdb;
    right: 2px;
    top: 0px;
    transform: rotate(-135deg) translate(0, 70.5%);
}

.message-self + .message-receiver::after, 
.message-self + .date + .message-receiver::after,
.message-receiver:nth-child(2)::after {
    border-left-color: white;
    left: 0px;
    top: 0px;
    transform: rotate(-45deg) translate(0, -70.5%);
}


/* Bottom-section */

.message-bar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.6%;
    flex-grow: 1;
    border-bottom: 2px solid #bebebe;
}

.message-input {
    /* display: none; */
    font-size: 1.1em;
    font-family: inherit;
    flex-grow: 1;
    outline: none;
    
    resize: none;
    border: none;
}

.message-bar-icon {
    height: 60%;
    width: auto;
}


.message-bar-icon:first-child {
    margin-right: 3%;
}

.message-bar-icon:last-child {
    margin-left: 4%;
}

.message-bar-icon .icon {
    height: 100%;
}

.record-audio-button {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-audio-button .icon {
    height: 100%;
    width: auto;
}




